.dark body {
  background-color: #001716;
  color: #f0ffff;
}
.dark article {
  background-color: #002b29;
}

.dark article {
  background-color: #700000;
}

.dark nav {
  background-color: #002b29;
}
